.sidebar {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color: rgb(234, 225, 225);
    width: 40%;
    height: 100%;
    animation: side 0.5s linear forwards;
}

@keyframes side {
    from {
        transform: translateX(100%);
    } to {
        transform:  translate(0);
    }
}